
.reel2reel-wrap {
    padding: 2em;
    text-align: center;
}

.reel2reel-movie-list {
    width: 25em;
    margin: 0 auto;
}

.reel2reel-movie {
    width: 25em;
    box-sizing: border-box;
    padding: 0.5em;
    background: #eee;
    color: #222;
}
