
.r2r-wrap {
    padding: 2em;
    text-align: center;
}

.r2r-title {
    margin-bottom: 1em;
}

.r2r-movie-list {
    width: 25em;
    margin: 0 auto;
}

.r2r-movie {
    width: 25em;
    box-sizing: border-box;
    padding: 0.5em;
    text-align: left;
    background: #eee;
    color: #222;
}

.r2r-movie-title {
    font-size: 1.2em;
    border-bottom: 1px solid #bbb;
}
