
html {
    font: normal 1em Arial, sans-serif;
    height: 100%;
}

body {
    height: 100%;
    background-color: #2e9fc3;
    color: #222;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    padding: 0.5em 0;
    font-size: 3em;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -10em;
}

.page-wrap::after {
    content: "";
    display: block;
}

footer {
    height: 10em;
    box-sizing: border-box;
    padding-top: 3em;
    text-align: center;
    background: #333;
    color: #bbb;
}

footer p {
    margin: 0 0 2em;
}

footer a, footer a:visited {
    color: #2e9fc3;
}
